<?xml version="1.0"?>

<launch>

  <!-- detect_aruco_node -->
  <node pkg="detect_poi" type="detect_aruco_node" name="detect_aruco_node" output="screen">
    <param name="/use_sim_time" value="true"/>
  </node>

  <!-- calculate_auruco_distance_node-->
  <node pkg="detect_poi" type="calculate_object_distance_angle_node" name="calculate_object_distance_angle_node" output="screen">
    <param name="/use_sim_time" value="true"/>
  </node>
</launch>
